body {
  background: #800000;
}

.button-group {
  text-align: center;
  /* border: gray solid 5px; */
  padding: 5vw;
}

.button-group > button {
  font-size: 1.5em;
  padding: 10px;
  margin: 10px;
}

#counterText {
  color: white;
  text-align: center;
  font-size: 4em;
}

