body {
  background: #800000;
}

.button-group {
  text-align: center;
  /* border: gray solid 5px; */
  padding: 5vw;
}

.button-group > button {
  font-size: 1.5em;
  padding: 10px 20px;
  margin: 0 10px;
}

#counterText {
  color: white;
  font: 4em Consolas, Arial, sans-serif;
  /* font-family: Consolas, Arial, sans-serif;
  font-size: 4em; */
  text-align: center;
}

