body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
    padding-right: 2px;
    padding-left: 2px;
}